.controls {
    display: flex;
}

.grid {
    height: 600px;
    width: 600px;

    border: 1px solid gray;
    display: flex;
    flex-direction: column;

    margin-left: 300px;
}

.grid div {
    margin: 0;
    border: 0;
}

.grid-row {
    display: flex;

    /* make the rows take up as much space as possible */
    height: 100%;
}

.grid-col {
    width: 100%;
    height: 100%;
}

.selected {
    background-color: black;
    color: white;
}