@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #d4fff1;
}

button {
    font-family: inherit;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.controls {
    display: flex;

    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;

    flex-direction: column;
    gap: 10px;
    align-items: center;

    width: 150px;
    margin-right: 50px;
}

.buttons button {
    width: 120px;
    height: 50px;
}

.color-input {
    height: 100px;
    width: 100px;
}

.slider-area {
    display: flex;

    flex-direction: column;

    align-items: center;
    margin-top: 20px;
}

.slider-text {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 5px;
}

.grid {
    background-color: white;
    height: 500px;
    width: 500px;

    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.grid div {
    margin: 0;
}

.grid-row {
    display: flex;

    /* make the rows take up as much space as possible */
    height: 100%;
}

.grid-col {
    width: 100%;
    height: 100%;
}

.selected {
    background-color: black;
    color: white;
}

.grid-lines {
    border: 1px solid gray;
}

footer {
    text-align: center;
    margin-top: 15px;
}